@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

.headerCode {
    width: 100%;
    font-size: 4rem;
    transition: all .5s ease-in-out;
    font-family: 'Gabarito';
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}