.page {
    width: 700;
    height: 900;
    object-fit: cover;
}

.pageNumber {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    /* bottom: 1rem; */

    color: white;
    font-weight: bold;
}

.page-odd {
    right: 2rem;
}

.page-even {
    left: 2rem;
}

.page-info {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8rem;
    color: white;
    font-weight: bold;
}

.page-info-end {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    color: white;
    font-weight: bold;
}